@media only screen and (max-width: 1024px) {
    /* iframe{
        height: 160px;
    } */
    h1.main-title{
        font-size: 48px;
    }
    

  }




  @media only screen and (max-width: 768px) {
    .logo-wrap img{
        width: 130px;
    }
    .headline{
        padding: 10% 10px 20px;
    }
    .lodging-content{
        margin-bottom: 30px;
    }
      .content-row{
          /* flex-direction: column-reverse; */
      }
    .content{
        margin: 30px auto;
    }
    h1.main-title{
        font-size: 32px;
        line-height: 1em;    
    }
    iframe{
        height: 200px;
    }
    .lodging-content{
        text-align: center;
        padding-right: 15px;
    }
  }




  @media only screen and (max-width: 600px) {
    .logo-wrap img{
        width: 100px;
    }
    h1.main-title{
        font-size: 22px;
    }
    .title-col{
        width: 60%;
    }
    .logo-col{
        width: 40%;
    }
    li{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    p.big-body{
        font-size: 14px;
    }
    .speaker-info p{
        font-size: 14px;
    }
    /* .speaker-card {
        flex-wrap: wrap;
    }
    .speaker-card div{
        width:100%;
    } */

  }