/* Styles for all */

* {
  font-family: "museo-sans", sans-serif;
  /* font-family: "le-monde-livre-std", serif; */
  font-weight: 300;
}
h1 {
  font-family: "utopia-std-display", serif;
  font-weight: 900;
  color: #44475a;
}
h1 .pink {
  color: #e75d7f;
  font-family: "utopia-std-display", serif;
}
#recordings hr {
  border-width: 2px;
  border-color: #6cabb944;
  border-style: dotted;
}
.session-vid {
  /* border-bottom: 1px solid #478499; */
  margin: 20px 0;
}
.vid-title {
  font-size: 22px;
  color: #e75d7f;
  font-weight: 700;
  margin-bottom: 0;
}
.vimeo {
  margin-bottom: 20px;
}
.title-col a {
  text-decoration: none;
}
h3 {
  font-size: 18px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #44475a;
}
.summit-main h3 {
  margin-top: 24px;
}
h2 {
  font-weight: 100;
  font-family: "museo-sans-rounded", sans-serif;
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
}
h1.main-title {
  font-size: 48px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  color: #fff;
  width: 80%;
  max-width: 800px;
}
#pre-title {
  color: #f7dbff;
}
.headline {
  background: #44475a;
  padding: 50px 50px 20px;
  width: 100%;
}
.head-col {
  padding: 0 20px;
  padding-right: 0;
}
.logo-col {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.logo-wrap {
  max-width: 250px;
  margin-bottom: 50px;
  align-self: flex-start;
  height: fit-content;
  display: table;
}
.logo-wrap img {
  width: 250px;
}
img {
  width: 100%;
  height: auto;
}
.title-col {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.head-wrap {
  max-width: 1140px;
  margin: auto;
}
.container {
  /* padding: 0 */
}
.content {
  margin: 60px auto;
}

.side-bar {
  /* text-align: right;
  padding: 20px;
  background-color: #6cabb9;
  color: #fff;
  height: fit-content;
  font-size: 16px; */
}
.body-content {
  /* padding-left: 40px; */
}

.body-centered {
  text-align: center;
  margin: 30px 0;
}
.register-btn {
  margin-bottom: 10px;
  border-radius: 10px;
}
button {
  margin: 0 3px;
}
.pbh-btn {
  margin-top: 1px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}
.agenda-btn {
  border: 1px solid #478499;
  color: #478499;
  background-color: #fff;
}
.agenda-btn:hover {
  color: #fff;
  background: #478499;
}
.outline-pink-btn {
  border: 1px solid #e75d7f;
  color: #e75d7f;
  background-color: #fff;
}
.outline-pink-btn:hover {
  color: #fff;
  background: #e75d7f;
}
.register-btn {
  border: 1px solid #e75d7f;
  color: #fff;
  background-color: #e75d7f;
}
.register-btn:hover {
  box-shadow: #e75d7f 0 0 6px;
}

.big-body {
  font-size: 20px;
}


/* .speaker-info {
  width: 60%;
  flex-grow: 1;
  align-self: center;
  padding: 15px;
}
.speaker-info p {
  font-size: 16px;
  line-height: 1.2em;
} */
.topics {
  margin-bottom: 50px;
}
.cme h2 {
  color: #478499;
  font-size: 20px;
}
ul {
  /* list-style: none; */
  padding-left: 20px;
}
li {
  list-style-position: outside;
  /* font-size: 18px; */
  /* margin-bottom: 0.6em; */
}
li {
  background: #44475a2d;
  padding: 10px;
}
li:nth-child(even) {
  background: #44475a11;
}

.body-highlight {
  font-size: 16px;
  background: #6cabb9;
  padding: 30px;
  color: #fff;
  text-align: center;
  font-style: italic;
}

a {
  color: unset;
  text-decoration: underline;
}
a:hover {
  color: #e75d7f;
}

iframe {
  width: 100%;
  height: 200px;
}

button.btn {
  /* margin-top: 10px; */
  /* background-color: #e57948; */
  border: 5px solid #e75d7f;
  color: #fff;
  background-color: #e75d7f;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  width: 220px;
  display: inline-block;
  padding: 10px 10px;
  font-weight: 900;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  /* opacity: 0.5; */
}
button.download{
  font-size: 18px;
  background-color: #387088;
  border-color: #387088;
  text-transform: none;
}
.buttons-wrap {
  justify-content: center;
  margin-bottom: 0;
}
.reg-note {
  margin: 5px 0 30px;
}
.buttons-wrap a {
  width: fit-content;
}
.btn:hover {
  color: #fff;
  /* background-color: #fff; */
  /* opacity: 0.8; */
  box-shadow: 0 0 5px #6cabb9;
}
.indent {
  padding-left: 15px;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 100;
  text-align: center;
}
hr {
  border-color: #478499;
}
.row.webinar {
  margin-bottom: 20px;
}
.webinar p {
  font-size: 14px;
  line-height: 1.2em;
}
.webinar li {
  font-size: 14px;
}
.left-align {
  text-align: left;
}
i {
  color: #478499;
}

/* THANK YOU PAGE */

.thanks {
  text-align: center;
  margin-top: 10%;
}
h2.thanks {
  font-weight: 900;
  color: #44475a;
}

.thanks p {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Agenda PAGE */
.agenda-row {
  display: flex;
  padding: 5px;
}
.inline-agenda h1 span {
  font-size: 18px;
}
.inline-agenda h2 {
  background-color: #478499;
  color: #fff;
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  /* text-decoration: line-through; */
}

.agenda-row:hover {
  background-color: #eeeeeeaa;
}
.agenda-time {
  max-width: 30%;
  padding: 5px;
  min-width: 185px;
  font-size: 18px;
}
.agenda-info {
  padding: 5px;
  max-width: 100%;
}
.agenda-info h3 {
  line-height: unset;
  text-transform: none;
  margin-bottom: 0;
  font-weight: 700;
}
.agenda-info h3.italic {
  font-weight: 300;
  font-style: italic;
}
h4.name {
  color: #478499;
  margin-bottom: 2px;
}
p.title {
  color: #387088;
  margin-bottom: 30px;
  font-size: 14px;
}

.agenda-side {
  padding-right: 30px;
  /* margin-top: 5rem; */
}
.agenda-side .cme h2 {
  font-size: 16px;
  color: #44475a;
}

.agenda-side .cme h4 {
  font-size: 16px;
}
.cme .stared {
  font-weight: 700;
  color: #44475a;
  /* background-color: #44475a; */
  border: 1px solid #478499;
  padding: 8px;
}

div.register {
  margin-bottom: 60px;
  text-align: center;
}
.webinar-wrap {
  margin: 60px 0;
  /* display: flex; */
}
.webinar-wrap:first-child{
  margin-top:0;
}

.webinar-info {
  margin-bottom: 40px;
  width: 100%;
}
.webinar-speaker {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.speaker-wrap{
  width:30%;
  /* display: flex;
  flex-direction: column; */
}
.speaker-bio{
  width: 70%;
}
.speaker-wrap img{
  width:100px;
  margin: auto;
  align-self: center;
}

.speaker-info {
  width: 100%;
  padding-right: 15px;
}
.speaker-info .name{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1em;
  margin: 10px 0;
  color: #44475a
}
.webinar-speaker .speaker-img {
  width: 30%;
  height: auto
}
h2.webinar-title {
  font-weight: 700;
  color: #44475a;
  margin-bottom: 0.25em;
}
.webinar-info p {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}
.webinar-info .date {
  color: #387088;
  font-weight: 700;
  margin-bottom: 24px;
}

img.speaker {
  max-width: 800px;
}


.aside {
  margin-bottom: 10px;
  padding: 15px;
}
.aside-blue {
  /* text-align: right; */
  /* padding: 20px; */
  font-size: 14px;
  background-color: #387088;
  color: #fff;
  height: fit-content;
}
.ce-info {
  color: #44475a;
}
.ce-info h4 {
  /* font-size: 12px; */
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  font-weight: 600;
}
.ce-aside p {
  margin-bottom: 0.5rem;
}
.ce-aside p span {
  font-style: italic;
}
