/* Styles for all */

*{
    font-family: "museo-sans", sans-serif;
    /* font-family: "le-monde-livre-std", serif; */
    font-weight: 500;
}
h1{
    font-family: "museo-sans-display", sans-serif;
    font-weight: 800;
    color: #095772;
}
h2{
    font-size: 36px;
    color: #095772;
    font-weight: 700;
}
h3{
    font-size: 16px;
    background-color: #478499;
    width: fit-content;
    color: #fff;
    padding: 2px 5px;
}
.row{
    margin-left:0;
    margin-right: 0;
    padding: 20px;
}
.home-row{
    padding: 50px 10%;
    max-width: 1600px;
    margin: auto;
}
.head-wrap{
    max-width: 1600px;
    margin: auto;
}

.summit-ad{
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
/* .banner-ad{
    height: 20vh;
    min-height: 150px;
    overflow: hidden;
    position: relative;
    border-top: #478499 2px solid;
    border-bottom: #e57948 2px solid;
}
.banner-ad .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    background: linear-gradient(180deg, rgba(9,87,114,0.5) 0%, rgba(71,132,153,0.3) 100%);;
}
.banner-ad .back-img{
    object-fit: cover;
    height: 100%;
}
.summit-wrap{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summit-title{
    display: flex;
}
.summit-title img{
    width: 70px;
}

.summit-title p{
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    margin:0;
    padding: 20px;
}
.summit-info{
    color: #fff;
    text-align: center;
}
.summit-info p {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
}
.summit-info button{
    font-size: 24px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    background: #e57948;
    padding: 3px 10px;
    border: none
}
.ad-content{
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    width: 100%;
} */
.init-card{
    width:33%;
    padding: 10px;
    margin-bottom: 30px;
    padding: 15px;
}
.init-card h2{
    font-size: 28px;
    min-height: 70px;
}
.init-card:hover{
    background-color: #47849922;
}
.init-card:hover h2{
    color: #e57948;
}
.init-card a:hover{
    color:#000;
}
.init-card a{
    text-decoration: none;
}

.site-title{
    padding-left: 30px;
    border-left: #e57948 4px solid;
    display: table;
    /* height: fit-content; */
}
h1.main-title{
    font-size: 60px;
    line-height: 1.1em;
    color: #fff;
    max-width: 800px;
    
}
.intro{
    color: #fff;
    padding: 20px;
}
.headline{
    background: #095772;

}

.init-row{
    padding: 5% 15%;
    flex-wrap: wrap;
}
.headline .container{
    padding: 50px 20px;
}
a{
    color:unset;
    text-decoration: underline;
}
a:hover{
    color: #e57948;
}

iframe{
    width: 100%;
    height: 200px;
}

button.btn{
    margin-top: 10px;
    /* background-color: #e57948; */
    border: 5px solid #e57948;
    color: #e57948;
    text-transform: capitalize;
    line-height: 1.2;
    text-align: center;
    width: fit-content;
    display: inline-block;
    padding: 15px 10px;
}
.btn:hover{
    color: #fff;
    background-color: #e57948;
    opacity: 1;
}
.indent{
    padding-left: 15px;
    font-size: 14px;
    margin-top:5px;
    font-weight: 100;
    text-align: center;
}
hr{
    border-color: #478499;
}
.row.webinar{
    margin-bottom: 20px;
}
.webinar p{
    font-size: 14px;
    line-height: 1.2em;
}
.webinar li{
    font-size: 14px;
}

.logo-wrap{
    width:20%;
    min-width: 180px;
    max-width: 250px;
    height: auto;
    margin-bottom: 40px;
}
img{
    width:100%;
    height: auto;
    object-fit: scale-down;
}

footer{
    height: 15vh;
    padding: 20px;
    background: #478499;
    color: #fff;
    text-align: center;
}