@media only screen and (max-width: 1024px) {
    iframe{
        height: 160px;
    }


  }




  @media only screen and (max-width: 768px) {
    .container{
        padding-top: 40px;
    }
    h1.main-title{
        font-size: 32px;
        line-height: 1.1em;
        margin-bottom: 30px;
    
    }
    iframe{
        height: 200px;
    }
  }




  @media only screen and (max-width: 600px) {

  }